<div class="editdata">
  <div class="smalltext">title</div>
  <div class="box"><%= in_place_editor_field :collection, :title, tag_options = {}, in_place_editor_options = { :cols => 32, :rows => 2, :cancel_text => 'abbrechen'} -%></div>
  <div class="smalltext">description</div>
  <div class="box"><%= in_place_editor_field :collection, :description, tag_options = {}, in_place_editor_options = { :cols => 32, :rows => 10, :cancel_text => 'abbrechen'} -%></div>
</div>
