<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title><%= controller.action_name %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "prototype" %> 
  <%= javascript_include_tag "lightbox" %> 
  <%= stylesheet_link_tag 'lepilo' %>
  <%= stylesheet_link_tag 'lightbox' %>
</head>
<body>
  <div id="fdbcontent">

    <div class="editdata">
  <%= flash[:notice] %><br/>
  <%= @content_for_layout %><br/><br/>
  </div>
  </div>

</body>
</html>
