<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Articles: <%= controller.action_name %> <% if @article %>&raquo;<%= @article.title %>&laquo;<% end %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "prototype" %> 
  <%= javascript_include_tag "lightbox" %> 
  <%= stylesheet_link_tag 'lepilo' %>
  <%= stylesheet_link_tag 'lightbox' %>
</head>
<body>
  <div id="lplcontent">
    
    <div id="navigation">
    <img src="/images/lepilo.png" class="lepilo">
    <a href="/settings/" ><img src="/images/settings.png" border=0></a>
    <a href="/" ><img src="/images/overview.png" border=0></a>
    <a href="/topics/" ><img src="/images/navigation.png" border=0></a>
    <a href="/articles/" class="active"><img src="/images/articles.png" border=0></a>
    <a href="/galleries/" ><img src="/images/galleries.png" border=0></a>
    <a href="/mediablocks/" ><img src="/images/media.png" border=0></a>
    <a href="/account/logout" ><img src="/images/logout.png" border=0></a>
    </div>

  <%= flash[:ok] %>
  <%= @content_for_layout %>
  
  <div id="lplsearchlist">
    <%= render_partial 'articles/dragarticle' %>
  </div>
  
  </div>

  <div id="lplfooter">
  <h5>LEPILO Statistik</h5>
    <h5 class="green">
    <%
      media_counter = 0
      text_counter = 0
      article_counter = 0
      mediablocks = BlockLink.find_all() 
      articles = Article.find_all() 

      for block in mediablocks
        if block.mediablock_id
          media_counter = media_counter + 1
        end

        if block.textblock_id
          text_counter = text_counter + 1
        end
      end    

      for page in articles
        article_counter = article_counter + 1
      end    

    %>  
    <%= image_tag "/images/16article.png",
        :alt => "anzahl der seiten", 
        :title => "anzahl der seiten", 
        :class => "icon16"  %>
    <%= article_counter %>
    <%= image_tag "/images/16image.png",
        :alt => "anzahl der medienblocks", 
        :title => "anzahl der medienblocks", 
        :class => "icon16"  %>
    <%= media_counter %>
    <%= image_tag "/images/16text.png",
        :alt => "anzahl der textblocks", 
        :title => "anzahl der textblocks", 
        :class => "icon16"  %>
    <%= text_counter %>
      </h5>
      <% if @session['user'] %>
      <h5>Angemeldet als</h5>
      <h5 class="green"><%= @session['user'].login %></h5>
      <% end %>
  </div>

</body>
</html>
