<div id="lplcontainer">
  <div id="lploptions">
    <h1>Notiz bearbeiten</h1>
    <br/>
  </div> 
  <div id="lplheader">
  </div> 

  <div class="editdata" style="width:700px; margin-right:auto; margin-left:auto;">

<%= start_form_tag :action => 'update', :id => @note %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Speichern' %>
<%= end_form_tag %>

<%= link_to 'Anzeigen', :action => 'show', :id => @note %> |
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
  
  </div>
</div>