<% for column in Note.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @note.send(column.name) %>
</p>
<% end %>

<%= link_to 'Bearbeiten', :action => 'edit', :id => @note %> |
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
