<div id="lploptions"><div>
  <h1>Artikelliste</h1> | <%= link_to 'Neuer Artikel', :action => 'new' %> | <%= link_to 'Artikel importieren', :action => 'import' %> | <%= link_to 'Artikel XML speichern', :action => 'writexml' %> | 
  <%= will_paginate @articles %>
</div> 

<div id="lplcontainer">
  <%= render :partial => "article", :collection => @articles -%>
  <br style="clear:both" />
</div> 