<h1>Neuer Artikel</h1>

<div id="lploptions">
  <div id="entrySettings" >
    <%= start_form_tag :action => 'create' %>
      <%= render :partial => 'form' %>
      <br style="clear:both;"/>
      <%= submit_tag "Anlegen" %>
    <%= end_form_tag %>
  </div>
</div>
<div id="lplheader">
</div>


<div id="lplcontainer">

<%= link_to 'Zur&uuml;ck', :action => 'list' %>
</div>