<% for column in Template.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @template.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @template %> |
<%= link_to 'Back', :action => 'list' %>
