<div id="lplaccordion"  
<% if local_assigns.has_key? :menuwidth -%>
  style="width:<%= menuwidth -%>px"
<% end -%> >
<%  @topics = Topic.find_all_by_topic_id(1, :order => :position, :include => :article)
  for topic in @topics -%>
	<div class="panel">
    <span onclick="javascript:location.href='/ps/article/<%= topic.id %>'"><%= topic.title %></span>
  </div>
<% end -%>
</div>

<script type="text/javascript" charset="utf-8">var acc = new Accordion("lplaccordion", "span", "acc");</script>