<%= error_messages_for 'topic' %>

<!--[form:topic]-->

<%= hidden_field 'article', 'topic_id', 'value'=>@article.topic_id %>

<div id="lpltopic-selector">
Seite zuordnen unter:<br/>
<%= render_partial 'topics/selector' %>
</div><br/>



<p>Titel<br/>
<%= text_field 'topic', 'title'  %></p>

<p>Beschreibung<br/>
<%= text_area 'topic', 'description', "cols" => 80, "rows" => 3  %><br/>

<!--[eoform:topic]-->

