<%=
@subtopics = Topic.find_by_topic_id(topic_id)
collection_select(:topic, :topic_id, @subtopics, :id, :title,
    options = {:prompt => "- Unterpunkt -"},
    html_options = 
    {
        :onChange => "new Ajax.Updater('lepilo_subtopics',
        '/topics/subtopic_changed/' + this[this.selectedIndex].value,
        {asynchronous:true, evalScripts:true}); $(article_topic_id).value = this[this.selectedIndex].value"
    }
    )
%>