<div id="lplcontainer" style="background-color:#444">

	  <%= render_partial 'list',  nil, "parent_id" => '1', "level" => '2', "title" => 'root' %>

	<div id="lpltopiclevel2" class="lpltopiccontaier">
	</div>
	
	<div id="lpltopiclevel3" class="lpltopiccontaier">
	</div>

	<div id="lpltopiclevel4" class="lpltopiccontaier">
	</div>

	<div id="lpltopiclevel5" class="lpltopiccontaier">
	</div>

<br style="clear:both">
</div>

