<script type="text/javascript" charset="utf-8">
toggleRight();
</script>
<h1>Neuer Navigationspunkt</h1>
<div id="lploptions">
  <div id="entrySettings" >
    <% :action => 'create' do %>
      <%= render :partial => 'new' %>
      <%= submit_tag "Anlegen" %>
    <% end %>
  </div>
</div>
<div id="lplheader">
</div>

<div id="lplcontainer">
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
</div>