<h1>Neuer Navigationspunkt</h1>
<div id="fdboptions">
  <div id="entrySettings" >
    <%= start_form_tag :action => 'create' %>
      <%= render :partial => 'new' %>
      <%= submit_tag "Anlegen" %>
    <%= end_form_tag %>
  </div>
</div>
<div id="fdbheader">
</div>

<div id="fdbcontainer">
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
</div>