<h1>Editing mediablock</h1>
<div id="lplshadow"></div>

<% form_tag :action => 'update', :id => @mediablock do %>
  <%= render :partial => 'form' %>
  <br class="clear:both"/>
  <%= submit_tag 'Speichern' %>
<% end %>

<%= link_to 'Anzeigen', :action => 'show', :id => @mediablock %> |
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
