ul.lplCSSMenu, ul.lplCSSMenu ul {
  width: 180px;
  background-color:transparent;
  padding: 0px;
  cursor: default;
  margin-left: 0px;
  z-index:1000;
}
ul.lplCSSMenu li {
  list-style-type: none;
  padding: 5px;
  padding-left:15px;
  position: relative;
  color: #666;
  background-color:transparent; 
}
ul.lplCSSMenu li > ul {
  display: none;
  position: absolute;
  top: 2px;
  left: 180px;
}
ul.lplCSSMenu li:hover, ul.lplCSSMenu li.CSStoHighlight {
	background-image: url(/ps/menu.png);
  background-color: #b4b6c4;
  color: #000;
}
ul.lplCSSMenu ul.CSStoShow {
  display: block;
}
ul.lplCSSMenu li:hover > ul {
  display: block;
	background-image: url(/ps/menu.png);
}
ul.lplCSSMenu li a { font-size:14px;color: #333; display: block; width: 100%; text-decoration: none; }
ul.lplCSSMenu li a:hover, ul.lplCSSMenu li a.CSStoHighLink { color: #000; }
ul.lplCSSMenu li:hover > a { color: #000; }