<%= error_messages_for 'event' %>

<!--[form:event]-->
<p><label for="event_starts_at">Starts at</label><br/>
<%= datetime_select 'event', 'starts_at'  %></p>

<p><label for="event_ends_at">Ends at</label><br/>
<%= datetime_select 'event', 'ends_at'  %></p>

<p><label for="event_title">Title</label><br/>
<%= text_field 'event', 'title'  %></p>

<p><label for="event_content">Content</label><br/>
<%= text_area 'event', 'content'  %></p>
<!--[eoform:event]-->

