<div id="lplheader">
</div> 
<div id="lploptions">
  <h1>Einstellungen</h1> | <%= link_to 'FTP Upload', :action => 'ftpupload' %>
  <br/>
  <br/>
</div> 
<div id="lplcontainer">
  <div id="lplshadow"></div>

 
</div> 