<div id="lploptions"><div>
  <h1>Einstellungen</h1> | <%= link_to 'FTP Upload', :action => 'ftpupload' %> | <%= link_to 'BlockLinks Update', :action => 'changeblocklinks' %>
  </div>
</div> 

<div id="lplcontainer">
  <br>
  <div style="width:50%;margin:1px;float:left;background:#aaa">FIRST</div>
  <div style="width:49%;margin:1px;float:left;background:#ccc">asdas</div>

</div> 

<script type="text/javascript" charset="utf-8">
  toggleLeft();
  toggleRight();
</script>
