<div id="lplheader">
</div> 
<div id="lploptions">
  <h1>Einstellungen</h1> | <%= link_to 'FTP Upload', :action => 'ftpupload' %>
  <br/>
  <br/>
</div> 
<div id="lplcontainer">
  <div id="lplshadow"></div>
  <div id="lpleditor">

  <div class="lplblock" style="width:350px">
    <%= render :partial => "topics/cssmenu" %>
  </div>

  <div class="lplblock" style="width:250px">
    <%= render :partial => "topics/accordion" %>
  </div>

 </div>
</div> 