<%= error_messages_for 'textblock' %>

<!--[form:textblock]-->
<p><label for="textblock_title">Content</label><br/>
<%= text_field 'textblock', 'title', 'size' => 25  %></p>


<p><label for="textblock_content">Content</label><br/>
<%= text_area 'textblock', 'content', 'cols' => 25, 'rows' => 10  %></p>
<!--[eoform:textblock]-->

