<%= error_messages_for 'textblock' %>

<!--[form:textblock]-->
<p>Titel<br/>
<%= text_field 'textblock', 'title', 'size' => 75 %></p>


<p>Inhalt<br/>
<%= text_area 'textblock', 'content', 'cols' => 75, 'rows' => 25  %><br/>
<!--[eoform:textblock]-->

