p {
  color: #787878;
  font-family: Quadraat-Regular;
  font-size: 14px;
  display: inline;
}


h1 {
  font-family: Quadraat-Regular;
  font-size: 24px;
  display: block;
  color: #FF810D;
}


h2 {
  font-size: 18px;
  display: block;
  color: #FF810D;
}


h3 {
  font-size: 16px;
  display: block;
  color: #434343;
}


a:link {
  color: #FF6600;
  text-decoration: none;
}

a:hover {
  color: #FF3300;
  text-decoration: underline;
}

a:active {
  color: #6A6A6A;
  text-decoration: underline;
}

.titel {
  font-size: 17px;  
  color: #434343;
  display: inline;
}

.text {
  font-size: 15px;
  color: #787878;
  display: inline;
}

.f {
  font-family: Verdana-Bold, Verdana Bold, "Verdana Bold";
  font-weight: bold;
  display: inline;
}

.k {
  font-family: Quadraat-Italic;
  display: inline;
}

.o {
  color: #FF810D;
  display: inline;
}