<h1>Editing tag</h1>

<% :action => 'update', :id => @tag do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Speichern' %>
<% end %>

<%= link_to 'Anzeigen', :action => 'show', :id => @tag %> |
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
