<% for column in Tag.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @tag.send(column.name) %>
</p>
<% end %>

<%= link_to 'Bearbeiten', :action => 'edit', :id => @tag %> |
<%= link_to 'Zur&uuml;ck', :action => 'list' %>
