
<div class="memo">
    <h1>Wilkommen</h1>

    <p>Sie sind nun im System angemeldet</p>
    <p>
    Falls Sie diesen Schirm sehen, wußte lepilo nicht, auf welche Seite Sie zugreifen wollten. 
     
    Wir schlagen die <%= link_to 'Artikelliste', { :controller => "articles", :action => "list" } %> vor. 
    </p>
      
    <%= link_to "&#171; logout", :action=>"logout"%>  
      
</div>
