<%= error_messages_for 'block_link' %>

<!--[form:block_link]-->
<p>Position<br/>
<%= text_field 'block_link', 'fragment_id'  %></p>

<p>Textblock<br/>
<%= text_field 'block_link', 'textblock_id'  %></p>

<p>Mediablock<br/>
<%= text_field 'block_link', 'mediablock_id'  %></p>

<!--[eoform:block_link]-->

