<%  @frontpageblocks = BlockLink.find_all_by_fragment_id(fragment_id) %>

<% for block in @frontpageblocks %>
  <%= render_partial 'textblocks/frontpage', nil, 'block_id' => block.textblock_id %>
<% end %>