<h1>New block_link</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Anlegen" %>
<%= end_form_tag %>

<%= link_to 'Zur&uuml;ck', :action => 'list' %>
