<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title><%= controller.controller_name -%> &raquo; <%= controller.action_name -%></title>
  <%= javascript_include_tag :defaults -%>
  <%= javascript_include_tag "scriptaculous" -%> 
  <%= javascript_include_tag "lightbox" -%> 
  <%= javascript_include_tag "slider" -%> 
  <%= javascript_include_tag "tabs" -%> 
  <%= javascript_include_tag "inspectors" -%> 
  <%= javascript_include_tag "accordion"%> 
  <%= stylesheet_link_tag 'layout_3col'%>
  <!--[if lte IE 7]>
  <link href="/stylesheets/patches/patch_3col_column_backgrounds.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <%= stylesheet_link_tag 'lepilo'%>
  <%= stylesheet_link_tag 'lightbox'%>
  <%= stylesheet_link_tag 'lplaccordionmenu'%>
  <%= stylesheet_link_tag 'lplcssmenu'%>
</head>
<body onload="new Ajax.Request('/<%= controller.controller_name-%>/inspector/<%=params[:id]-%>', {asynchronous:true, evalScripts:true}); return false;">

  <div id="page_margins">
  <div id="page" class="hold_floats">

  <div id="header">
    <div id="lplnavigation">
      <img src="/images/lepilo.png" class="lepilo" alt="lepilo version" />
      <a href="/settings/" <%= 'class="active"' if params[:controller] == "settings"%>><img src="/images/overview.png" alt="overview" /></a>
      <a href="/topics/" <%= 'class="active"' if params[:controller] == "topics"%>><img src="/images/navigation.png" alt="navigation"/></a>
      <a href="/articles/" <%= 'class="active"' if params[:controller] == "articles"%>><img src="/images/articles.png" alt="articles" /></a>
      <a href="/collections/" <%= 'class="active"' if params[:controller] == "collections"%>><img src="/images/collections.png" alt="collections"/></a>
      <a href="/mediablocks/" <%= 'class="active"' if params[:controller] == "mediablocks"%>><img src="/images/media.png" alt="media"/></a>
      <a href="/textblocks/" <%= 'class="active"' if params[:controller] == "textblocks"%>><img src="/images/textblocks.png" alt="textblocks"/></a>
      <a href="/account/" <%= 'class="active"' if params[:controller] == "account"%>><img src="/images/accounts.png" alt="accounts"/></a>
      <a href="/account/logout" ><img src="/images/logout.png" alt="log out of lepilo"/></a>
    </div>
  </div>

  <!-- #nav: Hauptnavigation -->
  <div id="nav">
  	<div id="nav_main">
      <span><%= image_tag "/images/16toleft.png",
        :id => "toleft",
        :alt => "inspector", 
        :title => "inspector", 
        :style => "padding-top:4px;padding-left:5px;padding-right:5px;border:0px;float:left",
        :onclick => "toggleLeft();"  -%>
      </span>
      
      <div id="headerbuttons">
        <%= image_tag "/images/headerbleft.png",
            :alt => "button start", 
            :title => "button start",
            :style => "margin-left:10px;float:left"  -%>        
        <div class="button">
          <%= image_tag "/images/20add.png",
              :alt => "anzahl der galerien", 
              :title => "anzahl der galerien"  -%>
        </div>        
        <%= image_tag "/images/headerbright.png",
            :alt => "button end", 
            :title => "button end",
            :style => "margin-left:-1px;float:left"  -%>

        <%= image_tag "/images/headerbleft.png",
            :alt => "button start", 
            :title => "button start",
            :style => "margin-left:10px;float:left"  -%>        
        <div class="button">
          <%= image_tag "/images/20view.png",
              :alt => "anzahl der galerien", 
              :title => "anzahl der galerien"  -%>
        </div>
        <div class="button">
          <%= image_tag "/images/20move.png",
              :alt => "anzahl der galerien", 
              :title => "anzahl der galerien"  -%>
        </div>
        <div class="button">
          <%= image_tag "/images/20smart.png",
              :alt => "anzahl der galerien", 
              :title => "anzahl der galerien"  -%>
        </div>        
        <%= image_tag "/images/headerbright.png",
            :alt => "button end", 
            :title => "button end",
            :style => "margin-left:-1px;float:left"  -%>

        <%= image_tag "/images/headerbleft.png",
            :alt => "button start", 
            :title => "button start",
            :style => "margin-left:10px;float:left"  -%>        
        <div class="button">
          <%= image_tag "/images/20delete.png",
              :alt => "anzahl der galerien", 
              :title => "anzahl der galerien"  -%>
        </div>        
        <%= image_tag "/images/headerbright.png",
            :alt => "button end", 
            :title => "button end",
            :style => "margin-left:-1px;float:left"  -%>
      </div>

      <div id="tabs">
        <ul> 
          <li style="margin-left: 1px" id="tabHeaderActive"><a href="javascript:void(0)" onmouseover="toggleTab(1,5)"><span style="line-height:14px">Einstellungen</span></a></li>
          <li id="tabHeader2"><a href="javascript:void(0)" onmouseover="toggleTab(2,5)" ><span><%= image_tag "/images/16article.png",
              :alt => "artikel", 
              :title => "artikel", 
              :class => "icon16"  -%>
          </span></a></li>
          <li id="tabHeader3"><a href="javascript:void(0)" onmouseover="toggleTab(3,5)"><span><%= image_tag "/images/16collection.png",
              :alt => "gallerien", 
              :title => "gallerien", 
              :class => "icon16"  -%>
          </span></a></li>
          <li id="tabHeader4"><a href="javascript:void(0)" onmouseover="toggleTab(4,5)"><span><%= image_tag "/images/16image.png",
              :alt => "bilder", 
              :title => "bilder", 
              :class => "icon16"  -%>
          </span></a></li>
          <li id="tabHeader5"><a href="javascript:void(0)" onmouseover="toggleTab(5,5);"><span><%= image_tag "/images/16text.png",
              :alt => "texte", 
              :title => "texte", 
              :class => "icon16"  -%></span></a></li>
        </ul>
      </div><!--End of tabs-->
      <span><%= image_tag "/images/16toright.png",
        :id => "toright",
        :alt => "inspector", 
        :title => "inspector", 
        :style => "padding-top:4px;padding-left:5px;padding-right:5px;border:0px;float:right",
        :onclick => "toggleRight();"  -%>
      </span>

  	</div>
  </div>
  <!-- #nav: - Ende -->

  <!-- #main: Beginn Inhaltsbereich -->
  <div id="main">
    <% 
      flashimg = '...'

      flash.each do |key, msg|
       case key
          when :ok
            flashimg = '<img src="/images/railsflash-ok.png"/>'
          when :info
            flashimg = '<img src="/images/railsflash-info.png"/>'
          when :warning
            flashimg = '<img src="/images/railsflash-warning.png"/>'
          when :error
            flashimg = '<img src="/images/railsflash-error.png"/>'
        end -%>

      <%= content_tag :div, flashimg + '<div>' + msg + '</div>', :id => key -%>
      <script type="text/javascript" charset="utf-8">
        setTimeout( function() {
          new Effect.BlindUp('<%= key -%>', 500);
        }, 3000)
      </script>
    <% end -%>

  <!-- #col1: Erste Float-Spalte des Inhaltsbereiches -->
      <div id="col1">
        <div id="col1_content" class="clearfix">
          <div class="dashboardtitle" ><%= image_tag "/images/16sort.png", :alt => "", :title => "", :class => "titleicon" -%>Overview</div>
          <div class="dashboard" id="dashboard1">
            <%= image_tag "/images/16article.png",
                :alt => "anzahl der seiten", 
                :title => "anzahl der seiten", 
                :class => "titleicon"  -%>
            <strong>Articles</strong>
            <div><a href="#"> Newest </a></div>
            <div><a href="#"> Last edited </a></div>
            <%= image_tag "/images/16collection.png",
                :alt => "anzahl der galerien", 
                :title => "anzahl der galerien", 
                :class => "titleicon"  -%>
            <strong>Collections</strong><br>
            <div><a href="#"> Newest </a></div>
            <div><a href="#"> Last edited </a></div>
            <%= image_tag "/images/16image.png",
                :alt => "anzahl der medienblocks", 
                :title => "anzahl der medienblocks", 
                :class => "titleicon"  -%>
            <strong>Media</strong><br>
            <div><a href="#"> Newest </a></div>
            <div><a href="#"> Last edited </a></div>
            <%= image_tag "/images/16text.png",
                :alt => "anzahl der textblocks", 
                :title => "anzahl der textblocks", 
                :class => "titleicon"  -%>
            <strong>Textblocks</strong><br>
            <div><a href="#"> Newest </a></div>
            <div><a href="#"> Last edited </a></div>
          </div>
          <div class="dashboardtitle" ><%= image_tag "/images/16sort.png", :alt => "", :title => "", :class => "titleicon" -%>Result Grouping</div>
          <div class="dashboard"  id="dashboard2">
            <strong>Group by:</strong><br>
            <div class="active"><a href="#">Topics</a></div>
            <div><a href="#">Date</a></div>
            <div><a href="#">Name</a></div>
            <strong>Sort within group by:</strong><br>
            <div><a href="#">Name</a></div>
            <div><a href="#">Date</a></div>
            <div><a href="#">Kind</a></div>
          </div>
          <div class="dashboardtitle" ><%= image_tag "/images/16sort.png", :alt => "", :title => "", :class => "titleicon" -%>Tags</div>
          <div class="dashboard" id="dashboard3">
            <div class="tags">Tagteamed<%= image_tag "/images/tag-end.png", :alt => "tag", :title => "tag" -%></div>
            <div class="tags">Tutorials<%= image_tag "/images/tag-end.png", :alt => "tag", :title => "tag" -%></div>
            <div class="tags">Lolcat<%= image_tag "/images/tag-end.png", :alt => "tag", :title => "tag" -%></div>
            <div class="tags">A somewhat longer tag<%= image_tag "/images/tag-end.png", :alt => "tag", :title => "tag" -%></div>
          </div>
  	    </div>
      </div>
  <!-- #col1: - Ende -->

  <!-- #col2: zweite Flaot-Spalte des Inhaltsbereiches -->
      <div id="col2">
        <div id="col2_content" class="clearfix">
          <div id="tabscontent">
              <div id="tabContent1" class="tabContent" >
                <div id="sidebarSettings"></div>
              </div>

              <div id="tabContent2" class="tabContent" style="display:none;">
                <%= render_partial 'articles/sidebar' -%>
              </div>

              <div id="tabContent3" class="tabContent" style="display:none;">
                <%= render_partial 'collections/sidebar' -%>
              </div>

              <div id="tabContent4" class="tabContent" style="display:none;">
                <%= render_partial 'mediablocks/sidebar' -%>
              </div>

              <div id="tabContent5" class="tabContent" style="display:none;">
                <%= render_partial 'textblocks/sidebar' -%>
              </div>
          </div><!--End of tabscontent-->

        </div>
      </div>
  <!-- #col2: - Ende -->

  <!-- #col3: Statische Spalte des Inhaltsbereiches -->
      <div id="col3">
        <div id="col3_content" class="clearfix" >
          <div id="lplcontent">
            <%= yield -%>
          </div>
        </div>
        <br style="clear:both">
        <!-- IE Column Clearing -->
  	  <div id="ie_clearing">&nbsp;</div>
        <!-- Ende: IE Column Clearing -->
      </div>
  <!-- #col3: - Ende -->

  </div>
  <!-- #main: - Ende -->



  <div id="lplfooter">
  <strong>LEPILO</strong> 0.10beta &nbsp;&nbsp;|&nbsp;&nbsp;  
    <strong><span class="green">
    <%
      article_counter = Article.count
      collection_counter = Collection.count
      text_counter = Textblock.count
      media_counter = Mediablock.count -%>  
    <%= image_tag "/images/16article.png",
        :alt => "anzahl der seiten", 
        :title => "anzahl der seiten", 
        :class => "icon16"  -%>
    <%= article_counter -%>
    <%= image_tag "/images/16collection.png",
        :alt => "anzahl der galerien", 
        :title => "anzahl der galerien", 
        :class => "icon16"  -%>
    <%= collection_counter -%>
    <%= image_tag "/images/16image.png",
        :alt => "anzahl der medienblocks", 
        :title => "anzahl der medienblocks", 
        :class => "icon16"  -%>
    <%= media_counter -%>
    <%= image_tag "/images/16text.png",
        :alt => "anzahl der textblocks", 
        :title => "anzahl der textblocks", 
        :class => "icon16"  -%>
    <%= text_counter -%>
      </span></strong>
      <% if @session['user'] -%>
      &nbsp;&nbsp;|&nbsp;&nbsp; User:
      <strong><span class="green"><%= @session['user'].login -%></span></strong>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <% end -%>
      Layout based on <a href="http://www.yaml.de/">YAML</a>       
  </div>

  <!-- #footer: Beginn Fußzeile -->
  <div id="footer">
  </div>
  <!-- #footer: Ende -->


  </div> <!-- id="page_margins" END -->

<script type="text/javascript" charset="utf-8">
  toggleRight();
  toggleLeft();
  
  var dashboardAccordion = new accordion('#col1_content', { 
    classNames: { toggle:'dashboardtitle', 
                  toggleActive:'dashboardtitleactive', 
                  content:'dashboard' }, 
    onEvent : 'click' });
  
  dashboardAccordion.activate($$('#col1_content .accordion_toggle')[0]);
  
</script>

</body>
</html>
