<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title>puresenses.at</title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "prototype" %> 
  <%= javascript_include_tag "lightbox" %> 
  <%= javascript_include_tag "accordion" %> 
  <%= stylesheet_link_tag 'lplcssmenu' %>
  <%= stylesheet_link_tag 'lplaccordionmenu' %>
  <%= stylesheet_link_tag 'puresenses' %>
  <%= stylesheet_link_tag 'lightbox' %>
</head>
<% 

backgroundsgallery = Gallery.find_by_title('backgrounds')
#@galleryblocks = BlockLink.find_all_by_gallery_id(backgroundsgallery.id)
@backgrounds = Array.new

backgroundsgallery.block_links.each do |link|

  if link.mediablock_id != nil
    image = Mediablock.find(link.mediablock_id)
    @backgrounds.push(image.filename)
  end

end %>


<body style="background-image: url(/data/images/<%= @backgrounds.pick %>)">
    <%= @content_for_layout %>
</body>
</html>
